@define-color accent #b4befe;
@define-color accent-dark #1e1e2e;
@define-color good #a6e3a1;
@define-color warn #f9e2af;
@define-color bad #f38ba8;

* {
	min-height: 0;
	min-width: 0;
	font-family: "Space Mono Nerd Font", monospace;
	font-size: 16px;
	font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.2s;
  background-color: rgba(24, 24, 37, 0.6);
  /*box-shadow: inset 0 -2px #89b4fa;*/
}

#workspaces button {
  padding: 0rem 0.6rem;
  margin: 0.4rem 0.15rem;
  border-radius: 1px;
  background-color: #181825;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: @accent;
}

#workspaces button.active {
  background-color: #1e1e2e;
  color: #89b4fa;
  border: 1px solid #89b4fa;
  transition: all 0.2s ease;
}

#workspaces button.urgent {
  background-color: #1e1e2e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#network,
#temperature,
#power-profiles-daemon,
#battery,
#mpris,
#backlight,
#mpd

/*
#idle_inhibitor,
*/
{
  padding: 0.3rem 0.7rem;
  margin: 0.4rem 0rem;
  background-color: #1e1e2e;
  min-width:15px;
}

#custom-logo { color: #89b4fa; }
#custom-power { color: #f38ba8; }
#custom-sep {
  padding: 0px;
  color: #585b70;
}

#clock { color:@good; } /*color: #74c7ec;*/
/*#clock.simpleclock { color: #89b4fa; }*/ /*TODO*/

window#waybar.empty #window { background-color: transparent; }
#window { color: #cdd6f4; }


#battery { color: @good; }
#battery.charging { color: @good; }
#battery.warning { color: @warn; }
#battery.critical:not(.charging) {
	color: @bad;
	animation: blink 1s infinite alternate;
}

#power-profiles-daemon {
	color: #b4befe;
	padding-right:0.9rem;
}
#power-profiles-daemon.power-saver { color: @accent; }
#power-profiles-daemon.balanced { color: @warn; }
#power-profiles-daemon.performance { color: @bad; }

#temperature { color: @accent; }
#temperature.warning { color: @warn; }
#temperature.critical {
	color: @bad;
	animation: blink 1s infinite alternate;
}

#pulseaudio { color: #b4befe; }
#pulseaudio.muted { color: alpha(@accent, 0.25); }

#network { color: #b4befe; }

#backlight {
	color: #b4befe;
	/*padding-right:0.85rem;*/
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}

@keyframes blink {
	to { opacity: 0.5; }
}
